<!DOCTYPE html>
<html>
    <head>
        <title>%site_title%</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <script src="/asset/js/jquery-2.1.1.min.js"></script>
        <link rel="stylesheet" href="/asset/css/bootstrap.min.css">
        <link rel="stylesheet" href="/asset/css/bootstrap-theme.min.css">
        <script src="/asset/js/bootstrap.min.js"></script>
        <script src="/asset/js/moment.js"></script>
        <script src="/asset/js/jquery-sortable-min.js"></script>
        <script src="/asset/js/adminportal.js" type="text/javascript"></script>
        <link rel="stylesheet" href="/asset/css/adminportal.css">
    </head>
    <body>
        <div class="container-fluid" style="width: 980px">
            %main_menu_html%